{% extends "base.html" %}

{% block body %}
<div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary">{{ estate.type }}</strong>
        <h3 class="mb-0">{{ estate.price }}  {{ estate.currency }}</h3>
        <div class="mb-1 text-muted">Nov 12</div>
        <p class="card-text mb-auto">{{ estate.description}}</p>
      </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

        </div>
        <p class="card-text mb-auto text-center">Подробности</p>
        <p class="card-text mb-auto text-center">Цена: {{ estate.price }} {{ estate.currency }} </p>
        <p class="card-text mb-auto text-center">Площадь: {{ estate.area }} м²</p>
        <p class="card-text mb-auto text-center">Тип: {{ estate.type }} </p>
        
        {% for category in estate.categories.all %}
            <p class="card-text mb-auto text-center">Категорий: {{ category.name }}</p>
        {% endfor %}
        
        <p class="card-text mb-auto text-center">Количество комнат: {{ estate.room_amount }} </p>

        <p class="card-text mb-auto text-center"> Цена за метр: {{ estate.get_price_per_meter }} </p>

    </div>
  </div>
{% endblock %}