{% extends "base.html" %}

{% block body %}

{% if user.is_authenticated %}
  <div class="col-md-6 container">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary">{{ estate.type }}</strong>
        
        <h3 class="mb-0">{{ estate.get_title }}</h3>

        <div class="mb-1 text-muted">{{ estate.created_date }}</div>

        <p class="card-text mb-auto h5">{{ estate.description}}</p>
      </div>
        
        <div class="container">
          <p class="card-text mb-auto text-center h3">Подробности</p>
          <p class="card-text mb-auto h4">- Продовец: {{ estate.author }}</p>

          <p class="card-text mb-auto h4">- Цена: {{ estate.price }} {{ estate.currency }}</p>

          <p class="card-text mb-auto h3">- Площадь: {{ estate.area }} м²</p>

          <p class="card-text mb-auto h3">- Тип: {{ estate.type }} </p>
          
          {% for category in estate.categories.all %}
              <p class="card-text mb-auto h3">- Категории: {{ category.name }}</p>
          {% endfor %}
          
          <p class="card-text mb-auto h3">- Количество комнат: {{ estate.room_amount }}</p>

          <p class="card-text mb-auto h3">- Цена за метр: {{ estate.get_price_per_meter }}</p>
        </div>

      {% for photo in photos.all %}        
        <div class="img-thumbnail text-center container">
          <p class="h3 mt-3">Фото недвижемости</p>
          <img src="{{ photo.img.url }}" alt="">
        </div>
      {% endfor %}
    </div>
  </div>
{% else %}
<div class="container text-center">
  <h3 class="">Простите произошла ошибка</h3> 

  <img src="https://grandproject.ru/upload/iblock/37b/37b2ccdd57785ae2ff1ced9a818fc4f8.png" alt="">

  <p class="h4">Сначала авторизуйтесь что бы смотреть детальную информацию недвижемости</p>

  <a href="{% url 'authentication' %}" class="btn btn-primary">Авторизоваться</a>
</div>
{% endif %}

{% endblock %}