{% extends "base.html" %}

{% block body %}



<section class="main_search_title_box">
    <div class="main_search_title_container">
        <p class="main_search_title">За недвижемостью - на Циан</p>

        <div class="main_search_links">
            <div class="main_search_link">
                <button class="main_search_button">Купить</button>
            </div>

            <div class="main_search_link">
                <button class="main_search_button">Снять</button>
            </div>

            <div class="main_search_link">
                <button class="main_search_button">Посуточно</button>
            </div>

            <div class="main_search_link">
                <button class="main_search_button">Оценить</button>
            </div>

            <div class="main_search_link">
                <button class="main_search_button">Ипотека</button>
            </div>

            <div class="main_search_link">
                <button class="main_search_button">Подбор риелтора</button>
            </div>
        </div>

        <div class="filter_button_box">
            <button class="first_filter_button">Квартиру в новостройке и вторичке</button>

            <button class="second_filter_button">1, 2 комн</button>

            <button class="third_filter_button">Цена</button>

            <form action="{% url 'index' %}" class="mt-2">
                <input class="search_input" type="search" name="search" placeholder="Search">
            </form>
        </div>

        <div class="search_from_map">
            <a href="{% url 'map' %}" class="map_link">
                <button class="map_button">Показать на карте</button>
            </a>
        </div>

        <p class="search_description"> Ставка 1,99% действует на срок до 30 лет при условиях: первый взнос от 15%, страхование жизни и здоровья заемщика. Сумма до 12 млн рубль</p>
    </div>
</section>

{% endblock %}